#Data Types and Structure Questions
1.What are data structures, and why are they important?
 - Data structures are ways to store and organize data in a computer so it can be used efficiently.
 - They are important because they help in:-
- fast access and modification of data
- Efficient memory use
- Better performance in algorithms

2.Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be changed after creation (e.g., list, dict).
 - Immutable data types cannot be changed once created (e.g., int, str, tuple).

3.What are the main differences between lists and tuples in Python?
 - List is mutable can add, remove, or change items.
 - Tuple is immutable once created, cannot change its content.

 4.Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs.


 5.Why might you use a set instead of a list in Python?
  - Sets automatically remove duplicates
  - Supports union, intersection, difference, etc.
  - set is faster than in a list checking item is exists

6.What is a string in Python, and how is it different from a list?
 - A string in Python is a sequence of characters and it is immutable.
 - A list is a sequence of items and it is mutable.

 7.How do tuples ensure data integrity in Python?
 - This ensures data integrity by protecting the data from accidental modification.

8.What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in key-value pairs
 - Dictionaries use hash tables internally to store and quickly access key-value pairs.

 9.Can lists contain different data types in Python?
 - Yes, Lists Can Contain Different Data Types in Python.

 10.Explain why strings are immutable in Python.
 - Strings are immutable to make them safe, efficient, and reliable.

 11.What advantages do dictionaries offer over lists for certain tasks?
 - Key-Based Access
 - Better Organization
 - No Need to Remember Index

12.Describe a scenario where using a tuple would be preferable over a list.
 - constant data that should not change.
 - Tuples are also faster and use less memory than lists

13.How do sets handle duplicate values in Python?
 - Sets automatically remove duplicate values.
 - Sets ignore duplicates and keep only unique values.

14.How does the “in” keyword work differently for lists and dictionaries?
 - in checks values in lists.
 - in checks keys in dictionaries

15.Can you modify the elements of a tuple? Explain why or why not.
 - NO,Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.

16.What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary inside another dictionary.
 - use case student information and inside dictionary each subject marks of student.

17.Describe the time complexity of accessing elements in a dictionary.
 - Average Case: O(1) (Constant time)
  -  Fast access using the key due to hash table implementation.
 - Worst Case: O(n) (Rare)
  - Rare case when many keys collide

18.In what situations are lists preferred over dictionaries?
 - Ordered Data Without Labels
 - Duplicates Allowed
 - Index-Based Access

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because they store data using keys, not positions.
 - Dictionaries use keys, not positions, to retrieve data.
 - must know the key to access a value — the order of items doesn’t affect retrieval.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
 - List retrieves data by position.
 - Dictionary retrieves data by key.

In [ ]:
#Practical Questions

In [ ]:
#1.Write a code to create a string with your name and print it.
name = "Nayan"
print(name)

Nayan

In [ ]:
#2.Write a code to find the length of the string "Hello World".
name = "Hello World"
print(len(name))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
language_name = "Python Programming"
language_name[0:3]

'Pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.
text = "hello"
text.upper()

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
str_name = "I like apple"
str_name.replace("apple","orange")

'I like orange'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list_name = [1,2,3,4,5]
print(list_name)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list_app = [1,2,3,4]
list_app.append(10)
list_app

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_remove = [1, 2, 3, 4, 5]
list_remove.remove(3)
list_remove

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list_name = ['a', 'b', 'c', 'd']
list_name[1]

'b'

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list_reverse = [10, 20, 30, 40, 50]
list_reverse[::-1]

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [2]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_name = ('red', 'green', 'blue', 'yellow')
tuple_name[1:]

('green', 'blue', 'yellow')

In [3]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
min_number = (10, 20, 5, 15)
min(min_number)

5

In [7]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
element_index = ('dog', 'cat', 'rabbit')
element_index.index("cat")

1

In [8]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","mango","kiwi")
if "kiwi" in fruits:
  print("kiwi in fruits")
else:
  print("kiwi not in fruits")

kiwi in fruits

In [9]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_name = {'a', 'b', 'c'}
print(set_name)

{'a', 'c', 'b'}

In [28]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_clear = {1, 2, 3, 4, 5}
set_clear.clear()
print(set_clear)

set()

In [29]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_remove = {1, 2, 3, 4}
set_remove.remove(4)
print(set_remove)

{1, 2, 3}

In [15]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

In [16]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1 & set2

{2, 3}

In [17]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name":"Nayan","age":22,"city":"mumbai"}
print(dic)

{'name': 'Nayan', 'age': 22, 'city': 'mumbai'}

In [27]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic = {"name":"Nayan","age":22}
dic["country"] = "USA"
print(dic)

{'name': 'Nayan', 'age': 22, 'country': 'USA'}

In [26]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic = {'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

In [39]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic_remove = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic_remove["age"]
print(dic_remove)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic_name = {'name': 'Alice', 'city': 'Paris'}
if "city" in dic_name:
  print("city present in dictionary")
else:
  print("city not in dictionary")

city present in dictionary

In [41]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lis = [1,2,3,4]
print(lis)
print(type(lis))
tup = (1,2,3,4)
print(tup)
print(type(tup))
dic = {"name":"nayan"}
print(dic)
print(type(dic))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>
{'name': 'nayan'}
<class 'dict'>

In [44]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list_name = random.sample(range(1, 101), 5)
list_name.sort()
print(list_name)

[27, 29, 72, 84, 88]

In [47]:
#28.Write a code to create a list with strings and print the element at the third index.
list_name = ["nayan","yash","jack","alex"]
print(list_name[3])

alex

In [49]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"nayan","age":22}
dict2 = {"surname":"chaudhari","city":"mumbai"}
dict1.update(dict2)
print(dict1)

{'name': 'nayan', 'age': 22, 'surname': 'chaudhari', 'city': 'mumbai'}

In [52]:
#30.Write a code to convert a list of strings into a set.
lis = ["nayan","yash","alex","jack"]
convert = set(lis)
print(convert)

{'alex', 'jack', 'nayan', 'yash'}